@model MyMinions.App.Models.CustomerDetails

@{
    ViewBag.Title = "Customer Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <h4>Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reputation)
        </dd>

    </dl>

    @Html.Partial("Jobs", Model.Jobs)
    <p>@Html.ActionLink("Add a new job", "AddJob", new { id = Model.Id })</p>

</div>
